@font-face {
  font-family: Gogoia;
  src: url('../fonts/GOGOIA-Deco.otf');
}

@font-face {
  font-family: Simplifica;
  src: url('../fonts/SIMPLIFICA-Typeface.ttf');
}

body {
  font-family: "freightsans_regular","Helvetica Neue","Helvetica","Arial",sans-serif;
  background-color: #F5F5F5;
  height: auto;
}

#main {
  border: 20px solid #FFFFFF;
}

#home {
  min-height: 100vh;
  height: auto;
  width: 100%;
}

#about {
  min-height: 100vh;
  height: auto;
  width: 100%;
  position: relative;
}

#projects {
  min-height: 100vh;
  height: auto;
  width: 100%;
  position: relative;
}

#contact {
  min-height: 100vh;
  height: auto;
  width: 100%;
  text-align: center;
  font-family: Gogoia;
  background-color: #16A6B6;
  position: relative;
}

nav {
  margin: 25px;
  display: none;
}

.nav-container{
  text-align: center;
}

.nav-container > .home, .about, .interests, .contact  {
  display: inline-block;
  font-size: 25pt;
  font-family: Gogoia;
  font-weight: bolder;
  padding: 10px;
  margin: 0px;
  color: #16a6b6;
  opacity: 0;
}

.home > a, .about > a, .interests > a, .contact > a {
  color: #000;
  transition: all 0.3s ease;
}

.home:hover, .about:hover, .interests:hover, .contact:hover  {
  text-decoration: underline;
   transition: all 0.3s ease;
   color: #16a6b6;
}

.home:hover > a, .about:hover > a, .interests:hover > a, .contact:hover > a {
  color: #16a6b6;
  transition: all 0.3s ease;
}

.sml-logo > img, .md-logo > img{
  height: 150px;
}

.main-container {
  opacity: 0;
}

.sml-logo {
  display: block;
}
.md-logo {
  padding: 30px;
}
.seperator {
  display: none;
}

.html {
  color: #16a6b6;
}

.javascript {
  color: #16a6b6;
}

.backbone {
  color: #16a6b6;
}

.devicons {
  font-size: 20pt;
}

.name-tag-line {
  text-align: center;
  font-family: 'Bitter', serif;
  display: none;
}


.tag-line {
  color: rgba(214, 0, 0, 0.35);
}

.line-seperator-container {
  width: 100%;
  height: 1px;
  text-align: center;
}
.line {
  width: 50px;
  height: 1px;
  background-color: #000;
}

.skills {
  text-align: center;
  font-family: Gogoia;
  display: none;
  display: block;
  padding-top: 20px;
}

.skills > h1 {
  font-size: 20pt;
}

#scroll{
  text-align: center;
  cursor: pointer;
  width: auto;
}

.arrow {
  height: 10px;
}


.arrow:nth-child(1) > span {
  animation-delay:-1s;
  -webkit-animation-delay:-1s;
}

.arrow:nth-child(2) > span {
  animation-delay:-.5s;
  -webkit-animation-delay:-.5s;
}

.arrow:nth-child(3) > span {
  animation-delay:0s;
  -webkit-animation-delay:0s;
}

@keyframes fadeinout {
  0% {opacity:0}
  25% {opacity:1}
  75% {opacity:0}
  100% {opacity:0}
}

@-webkit-keyframes fadeinout {
  0% {opacity:0}
  25% {opacity:1}
  75% {opacity:0}
  100% {opacity:0}
}

.arrow > span {
  height: 1px;
  width: 15px;
  background-color: #EA9F9F;
  display: inline-block;
  margin-left: -5px;
  -webkit-animation: fadeinout 2s infinite;
  animation: fadeinout 2s infinite;
}

.arrow > span:nth-child(1){
  transform: rotate(45deg);
}

.arrow > span:nth-child(2){
  transform: rotate(-45deg);
}


.about-sml-container-br {
  display: block
}

.about-me {
  text-align: center;
  height: auto;
}

.about-title {
  padding: 10px;
  font-family: Gogoia;
}

.about-sml-container {
  height: 150px;
  width: 275px;
  display: inline-block;
  margin: 0px;
  position: relative;
}

.about-me-blurb-container {
  width: 100%;
  text-align: center;
}

.about-me-blurb {
  font-family: 'Bitter', serif;
  width: 100%;
  text-align: left;
  padding-left: 20%;
  padding-right: 20%;
  color: #16A6B6;
}


.sml-1 {
  background-color: #ee6557;
}

.sml-1 > h1, .sml-2 > h1, .sml-3 > h1, .sml-4 > h1, .sml-5 > h1, .sml-6 > h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: Gogoia;
}

.sml-2 > h1, .sml-4 > h1 {
  color: #FFFFFF;
  text-shadow: 3px 1px 1px #000000;
}

.sml-2 {
  background-image: url('../images/basketball.png');
  background-size: 500px 320px;
  background-position: -50px;
  transition: all 0.050s ease;
}

.sml-3 {
  background-color: #16A6B6;
}
.sml-4 {
  background-image: url('../images/mountain3.png');
  background-size: 300px 300px;
  transition: all 0.050s ease;
}

.sml-5 {
  background-color: #b3b3b3;
}
.sml-6 {
  background-image: url('../images/starcraft1.jpg');
  background-size: 500px 300px;
  transition: all 0.050s ease;
}




.my-projects {
  text-align: center;
  font-family: Gogoia;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.projects-title {
  font-size: 50pt;
}

.project-image {
  border: 2px solid #000;
  border-radius: 2px;
  box-shadow: 0px 0px 5px #868686;
  height: 250px;
  width: 350px;
}

.project-sml-container {
  display: inline-block;
  width: 32%;
}

.project-sml-container > h4 {
  font-family: 'Bitter', serif;
}

.github-view {
  color: #16A6B6;
  font-size: 21pt;
}


.projects-title {
  font-size: 50pt;
}

.project-sml-container > h4 {
  font-family: 'Bitter', serif;
}


.contact-links {
  text-align: left;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.contact-links > a {
  color: #333;
}

@media (min-width: 480px){

}


@media (min-width: 768px) {
  .about-sml-container {
    width: 22%;
  }
  .nav-container > .home, .about, .interests, .contact {
    padding: 10px;
  }

  .name-tag-line > h1 {
    font-size: 20pt;
  }

  .name-tag-line > h3 {
    font-size: 15pt;
  }

  .skills {
    padding-top: 50px;
  }

  .skills > h1{
    font-size: 20pt;
  }
}


@media (min-width: 992px) {

}

@media (min-width: 1132px) {
  .square-break {
    display: block;
  }
}
