@font-face {
  font-family: Gogoia;
  src: url('../fonts/GOGOIA-Deco.otf');
}

@font-face {
  font-family: Simplifica;
  src: url('../fonts/SIMPLIFICA-Typeface.ttf');
}

body {
  font-family: "freightsans_regular","Helvetica Neue","Helvetica","Arial",sans-serif;
  background-color: #F5F5F5;
  height: auto;
}

#main {
  border: 20px solid #FFFFFF;
}

#home {
<<<<<<< HEAD
  min-height: 90vh;
  height: auto;
=======
  height: 90vh;
>>>>>>> ca150c0331babdd64613d09dc70e521ab8baff72
  width: 100%;
}

#about {
<<<<<<< HEAD
  min-height: 100vh;
  height: auto;
=======
  height: 100vh;
>>>>>>> ca150c0331babdd64613d09dc70e521ab8baff72
  width: 100%;
  position: relative;
}

#projects {
<<<<<<< HEAD
  min-height: 100vh;
  height: auto;
=======
  height: 100vh;
>>>>>>> ca150c0331babdd64613d09dc70e521ab8baff72
  width: 100%;
  position: relative;
}

#contact {
<<<<<<< HEAD
  min-height: 100vh;
  height: auto;
=======
  height: 100vh;
>>>>>>> ca150c0331babdd64613d09dc70e521ab8baff72
  width: 100%;
  text-align: center;
  font-family: Gogoia;
  background-color: #16A6B6;
  position: relative;
}

nav {
  margin: 25px;
  display: none;
}

.nav-container{
  text-align: center;
<<<<<<< HEAD
=======
  padding: 10px;
>>>>>>> ca150c0331babdd64613d09dc70e521ab8baff72
}

.nav-container > .home, .about, .interests, .contact  {
  display: inline-block;
  font-size: 25pt;
  font-family: Gogoia;
  font-weight: bolder;
<<<<<<< HEAD
  padding: 10px;
  margin: 0px;
  color: #16a6b6;
  opacity: 0;
=======
  padding: 30px;
  margin: 0px;
  transition: all 0.5s ease;
  color: #16a6b6;
>>>>>>> ca150c0331babdd64613d09dc70e521ab8baff72
}

.home > a, .about > a, .interests > a, .contact > a {
  color: #000;
  transition: all 0.3s ease;
}

.home:hover, .about:hover, .interests:hover, .contact:hover  {
  text-decoration: underline;
   transition: all 0.3s ease;
   color: #16a6b6;
}

.home:hover > a, .about:hover > a, .interests:hover > a, .contact:hover > a {
  color: #16a6b6;
  transition: all 0.3s ease;
}

.sml-logo > img, .md-logo > img{
  height: 150px;
}

<<<<<<< HEAD
.main-container {
  opacity: 0;
}

=======
>>>>>>> ca150c0331babdd64613d09dc70e521ab8baff72
.sml-logo {
  display: block;
}
.md-logo {
  padding: 30px;
<<<<<<< HEAD
=======
  display: none;
>>>>>>> ca150c0331babdd64613d09dc70e521ab8baff72
}
.seperator {
  display: none;
}

.html {
  color: #16a6b6;
}

.javascript {
  color: #16a6b6;
}

.backbone {
  color: #16a6b6;
}

.devicons {
  font-size: 20pt;
}

.name-tag-line {
  text-align: center;
  font-family: 'Bitter', serif;
<<<<<<< HEAD
  display: none;
}

=======
  margin-top: 100px;
  display: none;
}

.name-tag-line > h1{
  font-size: 50pt;
}

>>>>>>> ca150c0331babdd64613d09dc70e521ab8baff72

.tag-line {
  color: rgba(214, 0, 0, 0.35);
}

.line-seperator-container {
  width: 100%;
  height: 1px;
  text-align: center;
}
.line {
  width: 50px;
  height: 1px;
  background-color: #000;
}

.skills {
  text-align: center;
<<<<<<< HEAD
  font-family: Gogoia;
  display: none;
  display: block;
  padding-top: 20px;
}

.skills > h1 {
  font-size: 20pt;
}

#scroll{
  text-align: center;
  cursor: pointer;
  width: auto;
}

.arrow {
  height: 10px;
}


.arrow:nth-child(1) > span {
  animation-delay:-1s;
  -webkit-animation-delay:-1s;
}

.arrow:nth-child(2) > span {
  animation-delay:-.5s;
  -webkit-animation-delay:-.5s;
}

.arrow:nth-child(3) > span {
  animation-delay:0s;
  -webkit-animation-delay:0s;
}

@keyframes fadeinout {
  0% {opacity:0}
  25% {opacity:1}
  75% {opacity:0}
  100% {opacity:0}
}

@-webkit-keyframes fadeinout {
  0% {opacity:0}
  25% {opacity:1}
  75% {opacity:0}
  100% {opacity:0}
}

.arrow > span {
  height: 1px;
  width: 15px;
  background-color: #EA9F9F;
  display: inline-block;
  margin-left: -5px;
  -webkit-animation: fadeinout 2s infinite;
  animation: fadeinout 2s infinite;
}

.arrow > span:nth-child(1){
  transform: rotate(45deg);
}

.arrow > span:nth-child(2){
  transform: rotate(-45deg);
=======
  margin-top: 370px;
  font-family: Gogoia;
  display: none;
>>>>>>> ca150c0331babdd64613d09dc70e521ab8baff72
}


.about-sml-container-br {
  display: block
}

.about-me {
  text-align: center;
<<<<<<< HEAD
=======
  padding-top: 200px;
  padding-bottom: 200px;
>>>>>>> ca150c0331babdd64613d09dc70e521ab8baff72
  height: auto;
}

.about-title {
<<<<<<< HEAD
  padding: 10px;
=======
>>>>>>> ca150c0331babdd64613d09dc70e521ab8baff72
  font-family: Gogoia;
}

.about-sml-container {
<<<<<<< HEAD
  height: 275px;
  width: 275px;
=======
  height: 300px;
  width: 300px;
>>>>>>> ca150c0331babdd64613d09dc70e521ab8baff72
  display: inline-block;
  margin: 0px;
  position: relative;
}


.sml-1 {
  background-color: #ee6557;
}

.sml-1 > h1, .sml-2 > h1, .sml-3 > h1, .sml-4 > h1, .sml-5 > h1, .sml-6 > h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: Gogoia;
}

.sml-2 > h1, .sml-4 > h1 {
  color: #FFFFFF;
  text-shadow: 3px 1px 1px #000000;
}

.sml-2 {
<<<<<<< HEAD
  background-image: url('../images/basketball.png');
=======
  background-image: url('../images/basketball.jpg');
>>>>>>> ca150c0331babdd64613d09dc70e521ab8baff72
  background-size: 500px 320px;
  background-position: -50px;
  transition: all 0.050s ease;
}

<<<<<<< HEAD
=======
.sml-2:hover {
  background-size: 600px 420px;
  background-position: -100px;
}

>>>>>>> ca150c0331babdd64613d09dc70e521ab8baff72
.sml-3 {
  background-color: #16A6B6;
}
.sml-4 {
<<<<<<< HEAD
  background-image: url('../images/mountain3.png');
  background-size: 300px 300px;
  transition: all 0.050s ease;
}
=======
  background-image: url('../images/mountain3.jpg');
  background-size: 300px 300px;
  transition: all 0.050s ease;
}
.sml-4:hover {
  background-size: 400px 400px;
  background-position: -50px;
}
>>>>>>> ca150c0331babdd64613d09dc70e521ab8baff72

.sml-5 {
  background-color: #b3b3b3;
}
.sml-6 {
  background-image: url('../images/starcraft1.jpg');
  background-size: 500px 300px;
  transition: all 0.050s ease;
}
<<<<<<< HEAD
=======
.sml-6:hover {
  background-size: 600px 400px;
  background-position: -50px;
}
>>>>>>> ca150c0331babdd64613d09dc70e521ab8baff72




.my-projects {
  text-align: center;
<<<<<<< HEAD
=======
  padding-top: 200px;
  padding-bottom: 200px;
>>>>>>> ca150c0331babdd64613d09dc70e521ab8baff72
  font-family: Gogoia;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
<<<<<<< HEAD
  width: 100%;
=======
>>>>>>> ca150c0331babdd64613d09dc70e521ab8baff72
}

.projects-title {
  font-size: 50pt;
}

<<<<<<< HEAD
.project-image {
  border: 2px solid #000;
  border-radius: 2px;
  box-shadow: 0px 0px 5px #868686;
  height: 250px;
  width: 350px;
}

.project-sml-container {
  display: inline-block;
  width: 32%;
}

=======
>>>>>>> ca150c0331babdd64613d09dc70e521ab8baff72
.project-sml-container > h4 {
  font-family: 'Bitter', serif;
}

<<<<<<< HEAD
.github-view {
  color: #16A6B6;
  font-size: 21pt;
}

=======
>>>>>>> ca150c0331babdd64613d09dc70e521ab8baff72

.projects-title {
  font-size: 50pt;
}

.project-sml-container > h4 {
  font-family: 'Bitter', serif;
}


.contact-links {
  text-align: left;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.contact-links > a {
  color: #333;
}

<<<<<<< HEAD
@media (min-width: 480px){

}


@media (min-width: 768px) {
  .about-sml-container {
    width: 22%;
  }
  .nav-container > .home, .about, .interests, .contact {
    padding: 10px;
  }

  .name-tag-line > h1 {
    font-size: 20pt;
  }

  .name-tag-line > h3 {
    font-size: 15pt;
  }

  .skills {
    padding-top: 50px;
  }

  .skills > h1{
    font-size: 20pt;
  }
}


@media (min-width: 992px) {

}

@media (min-width: 1132px) {
=======



@media (max-width: 643px) {
  .about-sml-container {
    height: 500px;
    width: 130px;
  }

  .sml-2, .sml-4, .sml-6 {
    background-size: 800px 500px;
  }

  .sml-2 {
    background-position: -250px;
  }
}


@media (min-width: 865px) {
  .sml-logo {
    display: none;
  }
  .md-logo {
    display: inline-block;
  }
  .skills {
    margin-top: 325px;
  }
}

@media (max-width: 700px) {
  .seperator {
    display: block;
  }
  .skills {
    margin-top: 150px;
  }
  .nav-container > .home, .about, .interests, .contact {
    padding: 10px;
  }
}

@media (max-width: 665px){
  .skills {
    margin-top: 150px !important;
  }
}

@media (max-width: 865px){
  .skills {
    margin-top: 280px;
  }
}


@media (max-width: 1132px) {
>>>>>>> ca150c0331babdd64613d09dc70e521ab8baff72
  .square-break {
    display: block;
  }
}
<<<<<<< HEAD
=======


@media (max-width: 975px) {
  .about-sml-container-br {
    display: none;
  }
}
>>>>>>> ca150c0331babdd64613d09dc70e521ab8baff72
